.button-form {
  align-self: start;
  padding: 18px 24px;
  border-radius: 6px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary);
  }
}

@media screen and (max-width: 800px) {
  .button-form {
    font-size: 12px;
    padding: 14px 20px;

  }
}