.button-form {
  align-self: start;
  padding: 18px 24px;
  border-radius: 6px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary);
  }
}