.collaborator-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 4px 4px 8px var(--color-gray-3);
  position: relative;

  .collaborator-header {
    height: 80px;
    position: relative;

    .image-container {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      top: 30px;
      
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--color-gray-1);
      }
    }

  }

  .collaborator-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
    margin: 62px 0 18px 0;
    gap: 4px;

    .collaborator-name, .collaborator-role {
      text-align: center;
    }

    .collaborator-name {
      color: var(--color-primary);
      font-weight: 600;
      font-size: 16px;
    }

    .collaborator-role {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .card-remove-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;

    img {
      width: 100%;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }
}