.colaborator-section {
  padding: 40px 0;

  .colaborator-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: var(--color-gray-1);
    padding: 40px;
    border-radius: 20px;
    gap: 48px;
    box-shadow: 0 4px 12px var(--color-gray-4);

    .form-input-container {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &.display {
    animation: display 1s forwards;
  }

  &.hide {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    animation: hide 1s forwards;
  }
}

@keyframes display {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 5000px;
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    max-height: 5000px;
    opacity: 1;
    padding: 40px 0;
  }

  100% {
    max-height: 0;
    opacity: 0;
    padding: 0;
  }
}