.colaborator-section {
  padding: 40px 0;

  .colaborator-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: var(--color-gray-1);
    padding: 40px;
    border-radius: 20px;
    gap: 48px;
    box-shadow: 0 4px 12px var(--color-gray-4);

    .form-input-container {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }
}