.team-list-section {
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-size: 32px;
    color: var(--color-purple-1);
    margin-bottom: 60px;
    margin-top: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 2px;
      background-color: var(--color-purple-1);
    }
  }
}