:root {
  --color-gray-1: rgb(246, 246, 246);
  --color-gray-2: rgb(33, 33, 33);
  --color-gray-3: rgb(164, 164, 164, 0.3);
  --color-gray-4: rgb(164, 164, 164);
  --color-white: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}