@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

:root {
  --color-gray-1: rgb(246, 246, 246);
  --color-gray-2: rgb(33, 33, 33);
  --color-gray-3: rgb(164, 164, 164, 0.3);
  --color-gray-4: rgb(164, 164, 164);
  --color-white: rgb(255, 255, 255);
  
  --color-primary: #6278f7;
  --color-secondary: #95FFD4;
  --color-tertiary: #F2F2F2;
  --color-team-programacao-background: #D9F7E9;

  --color-team-programacao-background: #D9F7E9;
  --color-team-frontend-background: #E8F8FF;
  --color-team-datascience-background: #F0F8E2;
  --color-team-devops-background: #FDE7E8;
  --color-team-ux-background: #FAE9F5;
  --color-team-mobile-background: #FFF5D9;
  --color-team-inovacao-background: #FFEEDF;

  --color-team-programacao-emphasis: #57C278;
  --color-team-frontend-emphasis: #82CFFA;
  --color-team-datascience-emphasis: #A6D157;
  --color-team-devops-emphasis: #E06B69;
  --color-team-ux-emphasis: #DB6EBF;
  --color-team-mobile-emphasis: #FFBA05;
  --color-team-inovacao-emphasis: #FF8A29;

  --font-family-title: "Prata", sans-serif;
  --font-family-text: "Montserrat", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title, .subtitle {
  font-family: var(--font-family-title);
  font-weight: 100;
}

.text {
  font-family: var(--font-family-text);
}

label.text, button.text {
  font-weight: 600;
}