@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');

:root {
  --color-gray-1: rgb(246, 246, 246);
  --color-gray-2: rgb(33, 33, 33);
  --color-gray-3: rgb(164, 164, 164, 0.3);
  --color-gray-4: rgb(164, 164, 164);
  --color-white: rgb(255, 255, 255);
  
  --color-primary: #6278f7;
  --color-secondary: #95FFD4;
  --color-tertiary: #F2F2F2;

  --font-family-title: "Prata", sans-serif;
  --font-family-text: "Montserrat", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title, .subtitle {
  font-family: var(--font-family-title);
  font-weight: 100;
}

.text {
  font-family: var(--font-family-text);
}

label.text, button.text {
  font-weight: 600;
}